body {
    background-color: #efefef;
}

.main-body {
    margin: 10px 50px;
    background-color: white;
}

.btn-publish {
    float: right;
    margin-bottom: 10px;
}

.media-object-img-size {
    width: 38px;
    height: 38px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 25px;
}